<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <link rel="manifest" href="/manifest.json" />
    <title>Trilobot Teleop</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <main>    

      <img src="{{ url_for('video_feed') }}" id="camera" />
      
      <!-- Icons from https://icon-sets.iconify.design/mdi/ -->  
      <div class="controls">
        <div id="fwd-back">
          <button class="btn" id="up">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M15 20H9v-8H4.16L12 4.16L19.84 12H15z"
              />
            </svg>
          </button>
          <button class="btn" id="down">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path fill="currentColor" d="M9 4h6v8h4.84L12 19.84L4.16 12H9z" />
            </svg>
          </button>
        </div>
        <div id="left-right">
          <button class="btn" id="left">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M20 9v6h-8v4.84L4.16 12L12 4.16V9z"
              />
            </svg>
          </button>
          <button class="btn" id="right">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M4 15V9h8V4.16L19.84 12L12 19.84V15z"
              />
            </svg>
          </button>
        </div>
        <div id="stop-camera">
          <button class="btn" id="stop">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path fill="currentColor" d="M18 18H6V6h12z" />
            </svg>
          </button>

          <button class="btn" id="opencv">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path fill="currentColor" d="M4 4h3l2-2h6l2 2h3a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2m8 3a5 5 0 0 0-5 5a5 5 0 0 0 5 5a5 5 0 0 0 5-5a5 5 0 0 0-5-5m0 2a3 3 0 0 1 3 3a3 3 0 0 1-3 3a3 3 0 0 1-3-3a3 3 0 0 1 3-3" />
            </svg>
          </button>
        </div>
        <div id="ball">
          <button class="btn" id="follow_ball">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path fill="white" d="M19.04 4.85C17.34 3.2 15.33 2.25 13 2v3.62l9 5.18c-.28-2.3-1.27-4.3-2.96-5.95M12 22c3.44 0 6.16-1.38 8.17-4.14L17.06 16l-8.99 5.2c1.25.53 2.57.8 3.93.8m1-10.59l8.15 4.66c.44-.94.73-1.93.85-2.96l-9-5.18zm-9.12 6.4c.66.91 1.38 1.65 2.17 2.19l8.99-5.1L12 13.15zM11.04 2C10 2.09 9 2.36 8 2.8v10.35l3.04-1.74zM2 12c0 1.39.3 2.77.89 4.12L6 14.28V4c-2.67 2-4 4.65-4 8"/>
            </svg>
          </button>
        </div>

        <h1 id="hostname">{{ hostname }}</h1>
      </div>

      <button id="stop-mobile">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M3 3v18h18V3"/></svg>
      </button>

      <div id="controls">        
        <div class="slider-container">
          <label for="speedSlider">Speed</label>
          <input type="range" id="speedSlider" min="0" max="1" step="0.01" value="0.5">
          <span id="speedLabel">Speed (0-1): 0.5</span> <!-- Displays speed value -->
        </div>        
          
        <div class="slider-container">
          <label for="hueMin">Hue Min</label>
          <input type="range" id="hueMin" min="0" max="179" value="0">
          <span id="hueMinValue">0</span> <!-- Displays hue min value -->

          <label for="hueMax">Hue Max</label>
          <input type="range" id="hueMax" min="0" max="179" value="179">
          <span id="hueMaxValue">179</span> <!-- Displays hue max value -->
        </div>
          
        <div class="slider-container">
          <label for="saturationMin">Saturation Min</label>
          <input type="range" id="saturationMin" min="0" max="255" value="0">
          <span id="saturationMinValue">0</span> <!-- Displays saturation min value -->

          <label for="saturationMax">Saturation Max</label>
          <input type="range" id="saturationMax" min="0" max="255" value="255">
          <span id="saturationMaxValue">255</span> <!-- Displays saturation max value -->
        </div>
        
        <div class="slider-container">
          <label for="intensityMin">Intensity Min</label>
          <input type="range" id="intensityMin" min="0" max="255" value="0">
          <span id="intensityMinValue">0</span> <!-- Displays intensity min value -->

          <label for="intensityMax">Intensity Max</label>
          <input type="range" id="intensityMax" min="0" max="255" value="255">
          <span id="intensityMaxValue">255</span> <!-- Displays intensity max value -->
        </div>
      </div>

    </main>

    <script src="/app.js"></script>
  </body>
</html>
